<%= render 'top_menu' %>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
    <h1><%= t('dashboard') -%></h1>

  </div>
  <div class="panel-body">
    <p>
      Aby przeanalizować rachunek wystarczy:
      <ol>
        <li>Dodać konto bankowe</li>
        <li>Zaimportować transakcje</li>
        <li>Skategoryzować operacje</li>
      </ol>
        Następnie można generować raporty.
    </p>
  </div>
</div>