<% for badge in operation.categories(user_id) do %>
    <span class="label label-info"><%= badge.name %> <a href="/categorize/delCategorie?id=<%= badge.id %>"><span class="glyphicon glyphicon-remove" ></span>x</a></span>
<% end %>
