<% for badge in operation.categories(user_id) do %>
    <span class="label label-info"><%= badge.name %> <a class="glyphicon glyphicon-remove" href="/categorize/delCategorie?id=<%= badge.id %>"></a></span>
<% end %>
