<%= render 'dashboard/top_menu' %>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
    <h1 data-type="line"><%= t('line_chart') -%></h1>
  </div>

</div>